anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1753980460404/work
anaconda-auth @ file:///croot/anaconda-cloud-auth-split_1747863777058/work
anaconda-cli-base @ file:///croot/anaconda-cli-base_1741369443553/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
archspec @ file:///croot/archspec_1709217642129/work
backports.tarfile @ file:///croot/backports.tarfile_1728485181323/work
boltons @ file:///croot/boltons_1751383775419/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1754477934456/work
colorama @ file:///croot/colorama_1672386526460/work
conda @ file:///croot/conda_1754469510968/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1755123313635/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
cryptography @ file:///croot/cryptography_1753084572505/work
distro @ file:///croot/distro_1714488253808/work
frozendict @ file:///croot/frozendict_1713194832637/work
idna @ file:///croot/idna_1714398848350/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///croot/jaraco.context_1728505015448/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
keyring @ file:///croot/keyring_1745484691218/work
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
mdurl @ file:///opt/conda/conda-bld/mdurl_1659716024347/work
menuinst @ file:///croot/menuinst_1753464582829/work
more-itertools @ file:///croot/more-itertools_1727185441804/work
packaging @ file:///croot/packaging_1753775359799/work
pkce @ file:///croot/pkce_1690384816590/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pluggy @ file:///croot/pluggy_1733169602837/work
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1750768261732/work
pydantic-settings @ file:///croot/pydantic-settings_1730800837989/work
pydantic_core @ file:///croot/pydantic-core_1750754736071/work
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT @ file:///croot/pyjwt_1736178889029/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
readchar @ file:///croot/readchar_1697462683073/work
requests @ file:///croot/requests_1750426329888/work
rich @ file:///croot/rich_1732638981168/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
SecretStorage @ file:///croot/secretstorage_1678709481048/work
semver @ file:///croot/semver_1736540782504/work
shellingham @ file:///croot/shellingham_1669142169426/work
tomli @ file:///croot/tomli_1753774587605/work
tqdm @ file:///croot/tqdm_1738943501192/work
truststore @ file:///croot/truststore_1753907171582/work
typer @ file:///croot/typer_1684251874311/work
typing-inspection @ file:///croot/typing-inspection_1746023470701/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
urllib3 @ file:///croot/urllib3_1750775463400/work
zipp @ file:///croot/zipp_1732630741423/work
zstandard @ file:///croot/zstandard_1731356346222/work
